<style>
.page_bg_2{
    background: url('../course_images/pages/m01/t01/p02/bg_img_PC.jpg') center center;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    position:relative;
	border: solid 1px #ececec;
}
.main-container{
	overflow: hidden;
}
.panel-custom{
    background-color: transparent !important;
    border-radius: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: absolute;
    left: 10%;
    width: 80%;
    text-align: center;
    top: 15%;
}
.hr-custom{
    border-bottom: 1px solid;
    border-style: dashed;
}
.btn-custom{
    border-radius: 20px;
    background-color: white;
    width: 40%;
}
.select-custom{
	width: 40%;
    height: 45px;
    border-radius: 15px;
    background: rgba(0,0,0,0.25);
    color: white !important;
}
select{
    text-overflow: '';
}
select::-ms-expand {
    display: none;
}

@media (max-width: 768px) and (orientation:portrait){
    /*tab potrait*/
    .page_bg_2{
         background: url('../course_images/pages/m01/t01/p02/bg_img_tab_portrait.jpg') center center;
    }
    
}
@media (max-width: 375px) and (orientation:portrait){
    /*phone potrait*/
    .page_bg_2{
         background: url('../course_images/pages/m01/t01/p02/bg_img_ph_portrait.jpg') center center;
    }
    .btn-custom{
	    width: 80%;
	}
	.select-custom{
		width: 80%;
	}
    .panel-body{
        width: 100%;
        padding: 0 !important;
    }
    h3{
        font-size: 17px;
        font-weight: bolder;
    }
}
@media (max-width: 667px) and (orientation:landscape){
    /*phone landscape*/
    .page_bg_2{
         background: url('../course_images/pages/m01/t01/p02/bg_img_ph_landscape.jpg') center center;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
.page_bg_2{
    background: url('../course_images/pages/m01/t01/p01/bg_img_PC.jpg') center center no-repeat;
    height: 100%;
    background-size: cover;
    z-index: 1;
    position:relative;
    }
.select-custom{
    width: 40%;
    height: 45px;
    border-radius: 15px;
    background: rgba(0,0,0,0.25);
    color: white !important;
    }
.btn-custom{
    width:40%;  
}
select :: selection{
    border: 2px solid red;
}
}
</style>

<div class='main-container animated fadeIn _1'>
	<div class="page_bg_2">
		<div class="panel panel-custom">
	        <div class="panel-body">
	          <h3>CUSTOMER COMMUNICATION MANAGEMENT</h3>
	          <p>
	              Select your role to customize your learning journey
	          </p>
	          <br>
	          <hr class="hr-custom">
	           <br>
	           <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	              <select class="select-custom" ng-model="roleSelection" ng-change="">
	              	<option value="" disabled>Select your role</option>
	              	<option value="role1">Role-1</option>
	              	<option value="role2">Role-2</option>
	              	<option value="role3">Role-3</option>
	              	<option value="role4">Role-4</option>
	              </select>
	          </span>
	          <br><br>
	          <br><br>
	          <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	              <button class="btn btn-custom" ng-click="changeRole(roleSelection)">PROCEED</button>
	          </span>
	        </div>
	    </div>
	</div>
</div>