<style>
.page_bg_2{
     background: url('../course_images/pages/m01/t02/p02/bg_img_PC.jpg') center center;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    position:relative;
    border: solid 1px #ececec;
}


.main-container{
	overflow: hidden;
}
.video_intro {
    padding-left: 73px;
    position: absolute;
    top: 23%;
}
.introVideo{
    box-shadow: 7px 5px 6px 0px rgba(0, 0, 0, 0.5);
    
}
.panel-custom{
    background-color: transparent !important;
    border-radius: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*position: absolute;*/
    /*left: 10%;*/
    /*width: 80%;*/
    /*text-align: center;*/
}
.hr-custom{
    border-bottom: 1px solid;
    border-style: dashed;
}
.div-custom{
    height: 120px;
    background: #70adad;
    border-radius: 10px;
    margin: 2%;
}
.main-div{
    left: 6%;
}
.main-div2{
    left: 27%;
}
.span-custom{
    position: absolute;
    top: 15%;
    left: 33%;
}
.span-custom h3{
    color: white !important;
    font-weight: bold;
}
.backToMenu{
    height: 25px;
    width: 25px;
    background-color: #edf0f3;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    padding: 5px;
    padding-left: 2px;
    top: 18%;
    right: 33%;
}
.backToMenu::after{
    content: '\f053';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgba(0,0,0,0.2);
    transform: translate(0%,-50%);
    
}
.backToHome{
    height: 25px;
    width: 25px;
    background-color: #edf0f3;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
}
.backToHome::after{
    content: '\f015';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgba(0,0,0,0.2);
    transform: translate(0%,-50%);
    
}
.panel-custom-2{
    position: relative;
    bottom: 95%;
    height: 89%;
    width: 68%;
    left: 31%;
    background: transparent;
    border: none;
    cursor: pointer;
}
.panel-custom-2 h4{
    color: white !important;
    font-weight: bold;
    cursor: pointer;
    margin-left: -4%;
}
.para-custom-1{
    color: white !important;
    position: absolute;
    top: 24%;
    font-size: 12px;
    cursor: pointer;
}
.para-custom-2{
    color: #ffffff73 !important;
    position: absolute;
    top: 70%;
    font-size: 12px;
    cursor: pointer;
}
.panel-custom-2 .panel-header{
    margin-left: 7%;
}
.video-icon-custom{
    margin: 5%; 
    cursor: pointer; 
    height: 85px;
}
.close-video{
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color: white !important;
    padding: 3px;
    right: -3%;
    top: -3%;
    cursor: pointer;
}
.close-video::after{
    content: '\f00d';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
}


@media (max-width: 768px) and (orientation:portrait){
    /*tab potrait*/
    .page_bg_2{
          background: url('../course_images/pages/m01/t02/p02/bg_img_tab_portrait.jpg') center center;
    }
    
    .panel-custom{
        height: 100%;
    }
    .video-icon-custom {
        margin: 2%;
    }
    .panel-custom-2 {
        position: relative;
        bottom: 93%;
        height: 87%;
        width: 68%;
        left: 22%;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .backToMenu {
        top: 12%;
        right: 45%;
    }
    .main-div {
    left: 1%;
    }
    .main-div2 {
        left: 1%;
    }
    .para-custom-1 {
        font-size: 14px;
    }
    .video_intro {
        padding: 0px;
    }
    .introVideo{
        width: 96%;
    }
    .close-video{
        right: 2%;
        top: 0%;
    }
    
}
@media (max-width: 375px) and (orientation:portrait){
    /*phone potrait*/
    .page_bg_2{
         background: url('../course_images/pages/m01/t02/p02/bg_img_ph_portrait.jpg') center center;
         overflow-y: scroll;
    }
    .panel-custom{
        height: 100%;
        top: -2%;
    }
    .main-div{
        left: 4%;
    }
    .main-div2{
        left: 4%;
    }
    .backToMenu {
        top: 12%;
        right: 96%;
    }
    .panel-custom-2 {
       bottom: 91%;
       left: 37%;
    }
    .para-custom-1 {
        font-size: 11px;
    }
    .panel-custom-2 h4 {
       font-weight: normal;
    }
    .video-icon-custom {
        margin: 5%;
        margin-top: 6%;
    }
     .close-video {
        height: 50px;
        width: 50px;
        background-color: rgba(255, 255, 255, 0.32);
        border-radius: 50%;
        position: absolute;
        text-align: center;
        color: white !important;
        padding: 3px;
        right: 43%;
        top: 75%;
        cursor: pointer;
        text-align: center;
    }
    .close-video::after {
        content: '\f00d';
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 37px;
        text-align: center;
    }
    .video_intro {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,1);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .introVideo{
        width : 100%;
    }
}
@media (max-width: 667px) and (orientation:landscape){
    /*phone landscape*/
    .page_bg_2{
         background: url('../course_images/pages/m01/t02/p02/bg_img_ph_landscape.jpg') center center;
         overflow-y: scroll;
    }
    .main-div{
        left: 1%;
    }
    .main-div2{
        left: 1%;
    }
    .backToMenu {
        top: 15%;
        right: 50%;
    }
    .panel-custom-2 {
        bottom: 100%;
    }
    .video-icon-custom {
        margin: 3%;
    }
    .video_intro {
        padding-left: 0px;
        top: 3%;
    }
    .introVideo{
        width: 96%;
        height: 96%;
    }
    .close-video{
        right: 1%;
    }
}
</style>
<div class='main-container animated fadeIn _1'>
	<div class="page_bg_2">  
		<div class="panel panel-custom" ng-init="showVideo1 = false; showVideo2 = false; showVideo3 = false;">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12">
                    <h3 class="col-xs-6 col-sm-6">BETTER BE A COMMUNICATOR</h3>
                     <span class="col-xs-6 col-sm-6"><i class="pull-right backToHome" style="cursor: pointer;" ng-click="loadScreen(0,0,2)"></i></span>
                </div>
              <p>
                  Active Listening is the most effective way to understand customers' needs. It makes 'Customer Connect' a lot easier.
              </p>
              <br>
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <span class="col-xs-6 col-sm-6">
                      <h4>Videos</h4>
                  </span>
                  <span class="col-xs-6 col-sm-6">
                      <span class="pull-right" style="cursor: pointer;" ng-click="loadScreen(0,1,0)"><i class="backToMenu"></i> <h4>BACK TO MENU</h4></span>
                  </span>
               </div>
              <hr class="hr-custom">
              <br><br><br>
              <div class="col-xs-12 col-sm-12 col-md-12 row main-div">
                <div class="col-xs-12 col-sm-12 col-md-5 div-custom">
                    <img class="video-icon-custom" src="../course_images/pages/m01/t02/p02/video_icon.png" ng-click="showVideo1 = true">
                    <div class="panel panel-custom-2">
                        <div class="panel-header">
                            <h4>Listening Skills</h4>
                        </div>
                        <div class="panel-body">
                            <p class="para-custom-1">
                                Active Listening is the most effective way to understand customers' needs. It makes 'Customer Connect' a lot easier.
                            </p>
                            <p class="para-custom-2">
                                Duration - 2.15 minutes
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 div-custom">
                    <img class="video-icon-custom" src="../course_images/pages/m01/t02/p02/video_icon.png" ng-click="showVideo2 = true">
                    <div class="panel panel-custom-2">
                        <div class="panel-header">
                            <h4>Effective Communication</h4>
                        </div>
                        <div class="panel-body">
                            <p class="para-custom-1">
                                Active Listening is the most effective way to understand customers' needs. It makes 'Customer Connect' a lot easier.
                            </p>
                            <p class="para-custom-2">
                                Duration - 2.15 minutes
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <br>
              <div class="col-xs-12 col-sm-12 col-md-12 row main-div2">
                  <div class="col-xs-12 col-sm-12 col-md-5 div-custom">
                      <img class="video-icon-custom" src="../course_images/pages/m01/t02/p02/video_icon.png" ng-click="showVideo3 = true">
                      <div class="panel panel-custom-2">
                        <div class="panel-header">
                            <h4>Questioning Skills</h4>
                        </div>
                        <div class="panel-body">
                            <p class="para-custom-1">
                                Active Listening is the most effective way to understand customers' needs. It makes 'Customer Connect' a lot easier.
                            </p>
                            <p class="para-custom-2">
                                Duration - 2.15 minutes
                            </p>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="video_intro" ng-show="showVideo1 == true">
                    <div class="close-video" ng-click="closeVidePopUp1()"></div>
                    <video id="introVideo1" height="450" controls class="introVideo video-mp4" poster="" controlsList="nodownload">
                        <source src="../video/Intro.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="video_intro" ng-show="showVideo2 == true">
                    <div class="close-video" ng-click="closeVidePopUp2()"></div>
                    <video id="introVideo2" height="450" controls class="introVideo video-mp4" poster="" controlsList="nodownload">
                        <source src="../video/Intro.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="video_intro" ng-show="showVideo3 == true">
                    <div class="close-video" ng-click="closeVidePopUp3()"></div>
                    <video id="introVideo3" height="450" controls class="introVideo video-mp4" poster="" controlsList="nodownload">
                        <source src="../video/Intro.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>