<style>
 .feedback-panel {
    background: #017f95 !important;
    color: #FFF !important;
    min-height: 164px;
    margin-top: 16px;
    top: -183px;
    right: -302px;
    padding: 10px;
    border-radius: 7px;
    width: 61%;
    position: absolute;
}
.feedback {
    text-align: left;
}

.col-xs-7.page-text.kc-option-container ul{
	padding-left:0px;
}

.quiz-area {
	padding-left: 0;
	top:30px;
}

.kc-option-container ul {
	padding: 10px 10px 10px 20px;
}

.kc-option {
    margin-bottom: 3px;
    position: relative;
    float: Left;
}

.kc-option-label {
	border-radius: 6px;
    font-weight: normal;
    padding: 10px 10px;
    display: block;
    cursor: pointer;
    float: left;
    background: url(../course_images/interface/circle.png) no-repeat;
    width: 720px;
    display: block;
   background-color: #017f95;
	color: #000;
    background-position: 8px 8px;
}

.option-selected{
    color: #000;
    background: url(../course_images/interface/circle_checkbox.png) no-repeat;
	background-position: 8px 8px;
     background-color: #006174 !important;
}

.correct-checkbox{
	background: url(../course_images/interface/circle__correct_checkbox.png) no-repeat !important;
    background-position: 8px 8px !important;
    background-color: #006174 !important;
	border-radius: 6px;
	
}

.in-correct-checkbox{
	background: url(../course_images/interface/circle__incorrect_checkbox.png) no-repeat !important;
	background-position: 8px 8px !important;
    background-color: #3c97a7   !important;
	border-radius: 6px;
}

.btn-submit {
    cursor: pointer;
    float: left;
    color: #fff;
    background: #017f95 !important;
    margin-top: 16px;
    margin-left: -3px;
    height: 36px;
    border-radius: 30px;
	-webkit-box-shadow: 0px 4px 33px -7px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 4px 33px -7px rgba(0,0,0,0.71);
    box-shadow: 0px 4px 33px -7px rgba(0,0,0,0.71);
    width: 132px;
    font-weight: bold;
    padding-top: 2px;
}
.back_button{
	position: absolute;
	top:10px;
	left: 10px;
	cursor: pointer;
}
.kc-option input{
	opacity:0;
}
.option-container{
	margin-left: 226px;
}
.btn-fdbk-container{
    margin-left: 0;
}
.option-text{
    float: left;
    display: block;
    width: 97%;
	padding-left:35px;
   <!--  margin-left: 24px; -->
}
.instruction-text{
	color:#fff;
}
.page-text {
    background: #0078ad;
    color: #fff;
   
    border-radius: 4px;
    margin-left: 19%;
    margin-top: 22px;
    width: 82%;
    height: auto;
    padding-left: 54px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.3;
}


</style>
<div class="quiz-area col-xs-12">
    <!-- <div class="col-xs-1 question-icon">&nbsp;</div> -->
    <div class="col-xs-7 option-container option-label">
        <ul id="options">
            <li ng-repeat="option in options" class="kc-option">
                <label class="kc-option-label">
                    <input type="radio" name="answer" value="{{option.id}}" correct="{{option.isCorrect}}" ng-disabled="disableInput" ng-click="onOptionSelected($index);">
                    <span class="option-text" ng-bind-html="option.text"></span>
                </label>
            </li>
        </ul>
	<!-- <button ng-click="checkAnswer()" class="col-xs-5 btn btn-submit" ng-disabled="disableButton" ng-bind-html="buttonText"></button> -->
    </div>
    <div class="col-xs-7 btn-fdbk-container">
		<button ng-click="checkAnswer();" class="btn btn-submit" ng-disabled="disableButton" ng-bind-html="buttonText"></button>
		 <div class="feedback-panel popUp" ng-show="fdbackTgle">
			<p ng-bind-html="feedbackAssessment" class="feedback"></p>
		</div>
	</div>
</div>
